body {
  background-color: #1e1e1e;
}


/*nav bar*/

.navbar-toggler {
  z-index: 1;
}

@media (max-width: 576px) {
  nav>.container {
    width: 100%;
  }
}





/*iframe videos from youtube*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-tile {
  height: 250px;
  background-size: cover;
  background-position: center;
}


/*video carousel */

.video-carousel {
  position: relative;
}

.video-carousel .slick-list {
  overflow: hidden;
}

.video-carousel .item {
  height: 250px;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}


/* Rounded icons */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


/* Square icons */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
  opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
  background: #3B5998;
  color: white;
}


/* Twitter */

.fa-twitter {
  background: #55ACEE;
  color: white;
}


/* soundcloud */

.fa-twitter {
  background: #55ACEE;
  color: white;
}


/* Test */

.icon-bar {
  width: 100%;
  /* Full-width */
  background-color: #555;
  /* Dark-grey background */
  overflow: auto;
  /* Overflow due to float */
}

.icon-bar a {
  float: left;
  /* Float links side by side */
  text-align: center;
  /* Center-align text */
  width: 20%;
  /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease;
  /* Add transition for hover effects */
  color: white;
  /* White text color */
  font-size: 36px;
  /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000;
  /* Add a hover color */
}

.active {
  background-color: ;
  /* Add an active/current color */
}


/*.active {
    background-color: #4CAF50; /* Add an active/current color */


}
*/
