body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: inherit;
}
/* <----------------------------   helpers   -------------------------------> */
.underline {
  border-bottom: 1px solid #13e5e0;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.section {
  margin-bottom: 50px;
}
.navbar {
  padding: 10px;
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 40px;
}
.logo img {
  height: 40px;
}
.hamburger img {
  height: 40px;
}
.hamburger {
  display: flex;
  justify-content: flex-end;
}
.nav-right ul {
  display:flex ;
  height: auto;
}
/* .right-links {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
} */
.right-links .open {
  height: auto;
}
.cover-image {
  /* max-height: 500px; */
}
.cover-image img {
  width: 100%;
}
.cover-image-text {
  position: absolute;
}
.service {
  border: black 1px solid;
  text-align: center;
  margin: 0px auto;
  width: 50%;
  padding: 50px;
  margin-bottom: 30px;
}
.service-header {
  text-align: center;
  margin: 0px auto;
  width: 50%;
}
.service-image {
  width: 100%;
}
.col-half {
  width: 50%;
}
.about-section {
  display: flex;
  justify-content: space-evenly;
  background-color:#13e5e0;
  padding-bottom: 20px;
}
.about-image {
  padding:10px;
}
.about-image img {
  height: 100%;
  width: 100%;
  border: 1px dotted white;


}
.about-text {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.button {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  color: white;
  border: solid 2px white;
  border-radius: 50px;
  padding: 10px 20px;
}
/* <-------------------------------    hover   ---------------------------> */

.button:hover {
  background-color: white;
  color: #13e5e0;
  border: solid 2px #13e5e0;
}
/* <-------------------------------    END: hover   ---------------------------> */
.steps {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid darkgrey;
  justify-content: ;
}
.icon {
  text-align: center;
  width: 50%;
}
.icon i {
  font-size: 100px;
}
.step-text {
  width: 50%;
}
.header {
  text-align: center;
}
.underline {

}
